.node--type-track {

  .field--name-field-track-long {
    .field__label {
      font-weight: bold;
    }
    .field__item {
      margin: 1rem 0;
    }
    i.bi {
      color: #bdbdbd;
    }
  }

  &.node--view-mode-full {
    .field--name-field-track-gallery {
      .field__item {
        display: inline-flex;
      }
    }
  }
  &.node--view-mode-teaser {
    margin-bottom: 0;

    .node--view-mode-teaser h2 a {
      color: $color-agamemnon;
    }

    .field--name-field-track-gallery {
      .field__item {
        display: inline-flex;
      }
    }

    .node-readmore.nav-link {
      padding: 0;
      a {
        @extend .btn;
        @extend .btn-sm;
        @extend .btn-primary;
      }
    }

    .node__title {
      font-size: 2rem;
      padding-top: 1rem;
      @include media-breakpoint-down(md) {
        font-size: 1.5rem;
        padding-top: 0rem;
      }
    }
  }
  .field--name-field-track-gallery {
    float: none;
  }
}

.view-tracks.view-id-tracks {
  .views-row:nth-child(even) {
    @extend .bg-light;
  }
}

.item-list__links {
  list-style: none;
  li.facet-item {
    margin: 0.25rem;
    display: inline-flex;
    a {
      font-size: 100%;
      @extend .badge;
      @extend .badge-light;
      &.is-active {
        @extend .badge-primary;
      }

    }
  }
}
.view-tracks {
  .views-row {
    overflow: hidden;
  }
  .view-header {
    position: sticky;
    display: block;
    top: 0;
    z-index: 2;
  }
}


.tags-filter {
  background: #eee;
  border-radius: 5px;
  border: #dedede 1px solid;
  margin: 10px auto;
  position:-webkit-sticky;
  position:sticky;
  top: 0;

  ul.item-list__links {
    margin: 0.5em;
    padding: 0;
  }

  .flex {
    display: flex;

    label {
      display: inline-block;
      font-size: 20px;
      margin-bottom: 0;
      padding: 0.5rem;
    }

    .tags-filter {
      border: 1px solid #ececec;
      background: #f7f7f7;
      border-radius: 5px;
      margin: 10px auto;
    }
  }
}
