{#
/**
 * @file
 * Default theme implementation for Geofield LatLon.
 *
 * Available variables:
 * - lat: The Latitude value.
 * - lon: The Longitude value.
 *
 * @ingroup themeable
 */
#}



<a class="btn btn-success btn-sm" target='_blank' href="https://www.google.com/maps/dir//{{ lat }},{{ lon }}"><i class="bi bi-signpost-2"></i>{{ 'Navigate' | t }}</a>
